h3 {
    background-color: red;
}

.box1 {
    background-color: coral;
    padding: 16px; /*espaçamento interno*/
    margin: 8px; /*espaçamento externo*/
}

.box2 {
    background-color: green;
    padding: 8px 20px 4px 10px; /*sentido horário*/
    margin: 8px 10px 20px 40px;
}

.box3 {
    background-color: brown;
    border: 2px solid blue; /*espessura, estilo e cor*/
    border-radius: 8px;
    padding: 8px;
    margin: 10px;
}

.box4 {
    background-color: darkolivegreen;
    width: 400px;
    padding: 20px;
}

* {
    box-sizing: border-box; /*Recurso usado para aplicar regra a todo css, neste caso as boxes.*/
}

body {
    margin: 0px;
    padding: 0px;
    background-image: url("../img/Capa\ LinkedIn.png");
    background-size: contain;
    height: 100vh; /*aumenta o tamanho da box do body para 100% da página*/
    background-attachment: fixed;
} /*para deixa a imagem estática no background/*
}